body {
    font-family: 'verdena', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: #1a73e8;
}

a:hover {
    text-decoration: underline;
}

/* Header */
header {
    background-color: #202124;
    color: white;
    padding: 15px 0;
    margin: 0;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    transition: background-color 0.3s ease-in-out;
}

header.scrolled {
    background-color: #1a1b1c;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

nav h1 {

    margin: 0;
    font-size: 1.8em;
    transition: font-size 0.3s ease-in-out;
}

nav.scrolled h1 {
    font-size: 1.5em;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    font-weight: bold;
}

/* Home Section */
section#home {
    position: relative;
    overflow: hidden;
  }
  
  .home-wrapper {
    background: linear-gradient(45deg, #1a73e8, #000000);
    padding: 100px 20px 60px;
    text-align: center;
    color: white;
  } 
.typing-text {
    display: inline-block;
    font-size: 1.5em;
}
.btn_primary {
    background-color: #3498db; 
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); /* add a subtle shadow */
    transition: background-color 0.3s ease; /* add a smooth transition effect */
}

.btn_primary:hover {
    background-color: #2980b9; /* change the background color on hover */
}

.btn_primary:hover {
    background-color: #000000;
}

/* About, Skills, Projects, Experience, Contact Sections */
section#about, section#skills, section#projects, section#experience, section#contact {
    padding: 60px 20px;
}

section#about, section#skills, section#projects, section#experience, section#contact {
    background-color: #fff;
    color: #333;
    text-align: center;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

h2 {
    margin-top: 0;
    font-size: 2.5em;
    margin-bottom: 30px;
    position: relative;
}

h2::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 80px;
    height: 4px;
    background-color: #1a73e8;
    border-radius: 2px;
}

.skill-set {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 30px;
}

.skill {
    flex: 1;
    min-width: 250px;
    margin: 10px;
    text-align: center;
}

.skill i {
    font-size: 2.5em;
    color: #1a73e8;
    margin-bottom: 10px;
}

.project, .experience {
    background-color: #f4f4f4;
    padding: 20px;
    margin: 10px 0;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.project:hover, .experience:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Contact Section */
section#contact p a {
    color: #1a73e8;
    font-weight: bold;
}

footer {
    background-color: #202124;
    color: white;
    text-align: center;
    padding: 5px 0; /* Reduced padding from 20px to 10px */
    font-size: 0.8em; /* Reduced font size to make the text smaller */
  }

/* Animations */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(-50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideUp {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Media Queries */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        text-align: center;
    }

    nav ul li {
        margin: 10px 0;
    }

    .skill-set {
        flex-direction: column;
    }
}
.profile-picture {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
}

.profile-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-picture-large {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    margin: 20px auto;
}

.profile-picture-large img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* Add styles for the hamburger menu */
.hamburger {
    background-color:#202124;
    border: none;
    position: absolute;
    top: 20px;
    right: 20px;
    display: none;
    cursor: pointer;
  }
  
  .hamburger span {
    display: block;
    width: 30px;
    height: 3px;
    margin: 5px;
    background-color: #ffffff;
    transition: 0.3s;
  }
  
  .hamburger:hover span {
    background-color: #555;
  }
  
  /* Add media query to show the hamburger menu on smaller screens */
  @media only screen and (max-width: 768px) {
    .hamburger {
      display: block;
    }
    nav ul {
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      background-color: #26272b;
      padding: 20px;
      border-bottom: 1px solid #333;
    }
    nav ul.show {
      display: block;
    }
  }
  .mapouter {
    position: relative;
    text-align: right;
    width: 100%;
    height: 300px;
    }
    
    .gmap_canvas {
    overflow: hidden;
    background: none!important;
    width: 100%;
    height: 300px;
    }
    
    .gmap_iframe {
    height: 300px!important;
    }

